<html>
    <head>
        <link rel="stylesheet" href=" {{ url_for('static', filename = 'css/w3.css')}} ">
        <title>{% block title %}{% endblock %} - My Application</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="w3-container">
                <div class="w3-content">
                    <div class="w3-bar w3-border w3-light-grey">
                        <a href="{{ url_for('upload_file') }}" class="w3-bar-item w3-button ">Cargar csv</a>
                        <a href="{{ url_for('entrenarmodelo',flag=False) }}" class="w3-bar-item w3-button ">Entrenar modelo</a>
                        <a href="{{ url_for('descargar_rendimiento') }}" class="w3-bar-item w3-button ">Descargar Rendimiento</a>
                        <a href="{{ url_for('descargar_graficar') }}" class="w3-bar-item w3-button ">Descargar Graficar</a>
                    </div>
                {% endblock %}
                
                {% block content %}
                {% endblock %}
            </div>  
        </div>
    </body>
</html>